@model News_Site.ViewModels.LoginViewModel
<h2 align="center">Log in</h2>

<a asp-action="Login" asp-controller="Account">Log in</a>

<form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Username">Username</label>
            <input type="text" asp-for="Username"/>
            <span asp-validation-for="Username"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="text" asp-for="Password"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Confirm" class="btn btn-outline-dark"/>
        </div>
    </div>
</form>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin></script>

<script
    src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"
    crossorigin></script>

<script
    src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
    crossorigin></script>
<script>var Form = ReactBootstrap.Form;</script>
<script>var Button = ReactBootstrap.Button;</script>
<script>var Group = ReactBootstrap.Group;</script>
<script>var Label = ReactBootstrap.Lable;</script>
<script>var Control = ReactBootstrap.Control;</script>
<script>var Text = ReactBootstrap.Text;</script>
<script src="@Url.Content("~/js/index1.jsx")"></script>